
body {
  background: linear-gradient(to right, white, #feb47b); 
  height: 100vh; 
  margin: 0;
  font-size: 18px;
}

.nav_link nav{
  font-size: 32px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:80px;
  margin:10px;  
  margin-top:50px;

}
.welcome{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
.quiz_form{
  margin:10px;
  margin-left:50px;
 
  display: flex;
  flex-direction: row;
  justify-content: left;
  
}
.quiz_questions{
   font-size: 28px;
}
.submitButton{
  margin:20px;
  padding: 12px 24px;
  background-color: orange;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.submitButton:hover {
  transform: translateY(-3px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.submitButton:active {
  transform: translateY(1px); 
}
.questionSelect{
  width: 100px;
  padding: 8px;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  background-color: linear-gradient(to right, rgb(241, 218, 198), #feb47b); 
}
.reviews{
  font-size: 12px;
  /* color:red; */
}
.reviewpage{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  font-size: 32px;
}
.reviewInfo{
  color:darkslategray;
  margin:10px;
  padding:30px;
  text-align: justify;
}
.resulthere{
  margin-top:50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;

}